body{
    height: 100%;
    min-height: 100%;
}
.footer{
    clear: both;
    position: relative;
    z-index: 10;
    min-height: 5em;
    width: 100%;
    display:inline-block;
    height: auto;
    margin-top: 34em;
    background-color: rgba(55, 55, 55, 0.7);
}

.footer .links{
    position: relative;
    margin: -12px 0 0 0.4em;
    font-size: 2em;
    padding-top: 20px;
}

.links i:hover{
    transition: color 0.3s linear;
    color: white;
}

.footer p{
    font-style: unset;
    font-size: 16px;
    color: white;
}

.footer .media p{
    padding: 7px 0 0 10px;
    margin: 0 0 -5px 10px;
}

.c{
    margin-top: -24px;
}

.footer .contacts{
    position: relative;
    margin: -10px 0 0 0;
    font-size: 2em;
    padding-top: 20px;
}

.c p{
    padding: 7px 0 0 10px;
    margin: 0 0 -5px 10px;
}

.contacts i:hover{
    transition: color 0.3s linear;
    color: white;
}

#facebook{
    color: RGB(59,89,172);
}
#twitter{
    color: RGB(29, 202, 255);
}
#instagram{
    color: RGB(205, 72, 107);
}
#phone, #mail, #location{
    color: rgb(41, 165, 66);
}

p.siteinfo{
    float: right;
    margin: 1.4em 2em 0 0;
    font-size: 1em;
}
