/* Slideshow container */

.gallery{
    width: 40%;
    height: auto;
    margin: auto;
    position: center;
    border: 1px black solid;
}

.gallery .slides{
    padding: 0 0 0 40%;
}
.gallery .controls{
    padding: 0 0 0 40%;
}

.gallery img{
    width: 40%;
    height: 30%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    color: red;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}