body{
    background: linear-gradient(to bottom left,darkgray, white);
}
.form{
    position: absolute;
    width: 35%;
    height: 60%;
    bottom: calc(50% - 60%/2);
    left: calc(50% - 35%/2);
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.innerForm{
    display: inline-block;
    width: 75%;
}
.innerForm input[type="email"], input[type="password"]{
    width: 100%;
    display: block;
    border: none;
    font-size: 20px;
    outline: 0;
}
.innerForm h3{
    font-size: 30px;
    margin: 7%;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
.inputEmail input[type=email]{
    padding-left: 40px;
    height: 15%;
    border-bottom: 2px solid #aaa;
    border-top: 2px solid #aaa;
}
.inputEmail{
    position: relative;
}
.inputEmail i{
    position: absolute;
    left: 0;
    bottom: 18px;
    padding: 0px 8px;
    color: #aaa;
    font-size: 25px;
    transition: .3s

}
.inputPassword input[type=password]{
    padding-left: 40px;
    height: 15%;
    border-bottom: 2px solid #aaa;
    margin-bottom: 8%;
}
.inputPassword{
    position: relative;
}
.inputPassword i{
    position: absolute;
    left: 0;
    bottom: 18px;
    padding: 0px 8px;
    color: #aaa;
    font-size: 25px;
    transition: .3s;
}
.inputEmail input[type=email]:focus + i {
    color: rgb(41, 165, 66);
}
.inputEmail input[type=email]:hover + i {
    color: rgb(41, 165, 66);
}
.inputEmail input[type=email]:focus{
    border-bottom-color: rgb(41, 165, 66);
}
.inputEmail input[type=email]:hover{
    border-bottom-color: rgb(41, 165, 66);
}
.inputPassword input[type=password]:focus + i {
    color: rgb(41, 165, 66);
}
.inputPassword input[type=password]:hover + i {
    color: rgb(41, 165, 66);
}
.inputPassword input[type=password]:focus{
    border-bottom-color: rgb(41, 165, 66);
}.inputPassword input[type=password]:hover{
    border-bottom-color: rgb(41, 165, 66);
}
.innerForm p{
    font-size: 20px;
    width: 100%;
    float: left;
}
.innerForm a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 75%;
    font-weight: bold;;
    padding: 14px 0px;
    border-radius: 2px;
    position: relative;
    border: 1px solid rgb(41, 165, 66);
    color: rgb(41, 165, 66);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.innerForm a:hover {
    cursor: pointer;
    background-color: rgb(41, 165, 66);
    color: white;
    border-color: darkgray;
    transition: .5s;
}
.innerForm p{
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 767px){
    .form{
        width: 60%;
        left: calc(50% - 60%/2);
    }
}
@media (min-width: 768px) and (max-width: 1099px){
    .form{
        width: 60%;
        left: calc(50% - 60%/2);
    }
}







