/*----------------------------------
------START @media queries----------
----------------------------------*/

[class*="row"]::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
}

/*------START XS @media Mobile----------*/

@media (max-width: 390px) {
    .col-xs-1 {
        width: 8.33%;
    }

    .col-xs-2 {
        width: 16.67%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33%;
    }

    .col-xs-5 {
        width: 41.67%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33%;
    }

    .col-xs-8 {
        width: 66.67%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;
    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .menu li {
        display: none;
    }

    .header i {
        display: block;
    }
}

/*-----END XS-----*/

/*------START SM @media Tablet----------*/

@media (min-width: 390.01px) and (max-width: 740px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.67%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.67%;
    }

    .col-sm-6 {
        width: 46.8%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.67%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .menu li {
        display: none;
    }

    .header i {
        display: block;
    }

}

/*-----END SM-----*/

/*------START MD @media PC----------*/

@media (min-width: 740.01px) and (max-width: 1199px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.67%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 30%;
    }

    .col-md-5 {
        width: 41.67%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.67%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .menuS {
        display: none;
    }
}

/*-----END MD-----*/

/*------START LG @media HD PC----------*/

@media (min-width: 1199.01px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.67%;
    }

    .col-lg-3 {
        width: 21.6%;
    }

    .col-lg-4 {
        width: 30%;
    }

    .col-lg-5 {
        width: 41.67%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.67%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .menuS {
        display: none;
    }

}

/*-----END LG-----*/