body{
    background: linear-gradient(to bottom left, darkgray, white);
}
.form{
    position: absolute;
    width: 35%;
    height: 85%;
    bottom: calc(50% - 85%/2);
    transform: translateY(5%);
    left: calc(50% - 35%/2);
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.innerForm{
    display: inline-block;
    width: 75%;
}
.innerForm h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 7%;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #aaa;
    padding-bottom: 5%;
}
.innerForm input{
    width: 100%;
    display: block;
    border: none;
    font-size: 20px;
    outline: 0;
    margin-bottom: 2%;
    height: 7%;
    border-bottom: 2px solid #aaa;
    transition: .5s;
}
.innerForm input:hover{
    border-bottom-color: rgb(41, 165, 66);
}
.innerForm input:focus{
    border-bottom-color: rgb(41, 165, 66);
}
.innerForm a{
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 75%;
    font-weight: bold;;
    padding: 5px 0px;
    border-radius: 2px;
    position: relative;
    border: 1px solid rgb(41, 165, 66);
    color: rgb(41, 165, 66);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
}
.innerForm a:hover {
    cursor: pointer;
    background-color: rgb(41, 165, 66);
    color: white;
    border-color: darkgray;
    transition: .5s;
}

@media (max-width: 767px){
    .form {
        width: 50%;
        left: calc(50% - 50% / 2);
        height: 75%;
        bottom: calc(50% - 75% / 2);
    }
}
@media (min-width: 768px) and (max-width: 999px){
    .form{
        width: 50%;
        left: calc(50% - 50% /2);
    }
}