body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html{
    height: 100%;
}
.menu{
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #333;
    margin-bottom: 8px;
    border-radius: 0 0 7px 7px;
}
.header li a[href="/"]{
    border-radius: 0 0 0 7px;
}
.header li a[href="/login"]{
    border-radius: 0 0 7px 0;
}
.header li a[href="/logout"]{
    border-radius: 0 0 7px 0;
}
.header {
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
    top: 0%;
    width: 100%;
    height: 7.5%;
}

.header li {
    float: left;
    padding: 0;
    height: 100%;
    margin: 0;
}

.header li a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    height: 100%;
    width: 100px;
    word-spacing: 9999999px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    text-decoration: none;
    overflow: hidden;

}
.header li a p{
    margin: 0;
    padding: 0;
    top: 40%;
    position: relative;
    transform: translateY(-40%);
}

.header li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.notification-box {
    display: none;
    position: fixed;
    z-index: 50000;
    width: 0px;
    height: 75px;
    right: 0;
    bottom: 80%;
    margin: 0;
    padding: 0;
    background-color: rgb(80, 80, 80);
    border-radius: 15px 0 0 15px;
    text-align: center;
}

.notification-box p {
    display: none;
    color: white;
}

.notification-box p.show {
    display: block;
    color: white;
}

.notification-box.show {
    display: block;
    transform: rotateX(180deg);
    animation-name: show;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: leftwards;
    animation-fill-mode: forwards;
    animation-state: running;
}

.notification-box.hide {
    display: block;
    animation-name: hide;
    transform: rotateX(180deg);
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: rightwards;
    animation-fill-mode: forwards;
}

.notification-box.flip {
    display: block;
    animation-name: flip;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    width: 300px;
}

.notification-box.unflip {
    display: block;
    animation-name: unflip;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    width: 300px;
}

@-webkit-keyframes hide {
    0% {
        width: 300px;
    }
    100% {
        width: 0;
    }
}

@-webkit-keyframes show {
    0% {
        width: 0;
    }
    100% {
        width: 300px;
    }
}

@-webkit-keyframes flip {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@-webkit-keyframes unflip {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}
.header i{
    display: none;
}
/*-- mobile ---*/

@media(max-width: 867px) {
    .menu li {
        display: none;
    }

    .header i {
        display: block;
        font-size: 25px;
        float: left;
        margin: 0;
        padding: 10px 0 0 10px;
        position: absolute;
        color: white;

    }

    .flex-container > div {
        width: 100%;
        margin-bottom: 10px;
    }

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2
    }

    .sidebar {
        top: 0;
        height: 100%;
        width: 200px;
        background-color: #fff;
        position: fixed !important;
        overflow: auto;
        z-index: 1;
        min-height: 100%;
        box-shadow: 2px 0px 10px;
    }

    .sidebar-animate-left {
        position: relative;
        animation: animateleft 0.4s;
    }

    .sidebar-hide:active {
        position: relative;
        animation-name: sideBarHide;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }

    .sidebar a {
        text-decoration: none;
    }

    .sidebar ul {
        list-style-type: none;
    }

    .bar-block .bar-item {
        width: 100%;
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0;
        color: black;
        font-family: sans-serif;
    }

    .large {
        font-size: 25px;
    }

    .button {
        font-size: 20px;
    }

    .button:hover {
        background-color: #818181;
    }
    @keyframes animateleft {
        from {
            left: -300px;
            opacity: 0;
        }

        to {
            left: 0;
            opacity: 1;
        }
    }
    @keyframes sideBarHide {
        from {
            left: 0;
            opacity: 1;
        }
        to {
            left: -300px;
            opacity: 0;
        }
    }

    .animate-opacity {
        animation: opac 0.8s
    }

    @keyframes opac {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
}
/* mobile media end*/
@media (min-width: 868px) and (max-width: 1299px) {
        .menuS {
            display: none;
        }
}
