.flex-container{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(240,240,240);
}
.product-box {
    background-color: white;
    padding: 1%;
    margin: 0 0.5% 1.5%;
    text-align: center;
    font-size: 0.9em;
    border: 1px solid rgb(204,204,204);
    border-radius: 5px;
    color: grey;
}
.flex-container h3{
    color: darkgreen;
    text-transform: uppercase;
}
.flex-container img{
    width: 150px;
    height: 150px;
}
.flex-container a:not(.image-link){
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 75%;
    font-weight: bold;
    padding: 14px 0px;
    border-radius: 2px;
    position: relative;
    border: 1px solid darkgreen;
    color: darkgreen;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.flex-container a:not([id="quantity"]):hover{
    color: rgb(0, 50, 0);
    border-color: rgb(0, 50, 0);
    transition: color, border-color 0.2s ease-in-out;
    cursor: pointer;
}
.flex-container a:visited{
    color: darkgreen;
}
.flex-container #quantity > input{
    border: none;
    position: relative;
    font-size: 22px;
    width: 70px;
    height: inherit;
    color: darkgreen;
    text-align: center;
}
.flex-container #quantity > input:focus{
    outline:0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.flex-container #quantity{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 75%;
    font-weight: bold;
    border-radius: 2px;
    position: relative;
    transform: translateX(16.3%);
    border: 1px solid darkgreen;
    color: darkgreen;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.flex-container #quantity i{
    font-size: 15px;
}
.flex-container #quantity i:hover{
    color: rgb(0, 50, 0);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

@media(min-width:1199px) {
    .product-box {
        margin: 0 0.5% 1.5% 0.5%;
    }
}
@media(min-width: 390.01px) and (max-width: 740px) {
    .product-box {
        margin: 0 0.2% 1.5% 0.2%;
    }
}